*.class
.DS_Store
/mypointeranalysis/target/
/mypointeranalysis/.settings
/mypointeranalysis/.classpath
/mypointeranalysis/.project
/mypointeranalysis/result.txt
/mypointeranalysis/result.*.txt
/mypointeranalysis/run.*.txt
/mypointeranalysis/sootOutput/
/mypointeranalysis/run.txt
